<section class="footer-area" {% if section.settings.footer_bg_img_enable %}style="background-image: url('{% if section.settings.footer_bg_img %}{{ section.settings.footer_bg_img | image_url: 'master' }}{% else %}https://dummyimage.com/1920x450/f7f7f7/999999{% endif %}');"{% endif %} data-section-id="{{ section.id }}">
  <div class="container">
    <div class="footer-list-wrap">
      <ul class="footer-list">
        {% for block in section.blocks %}
        {%- liquid assign row_width = row_width | plus: block.settings.container_width -%}
        {%- case block.type -%}
        {%- when 'logo_info' -%}
        <li class="ftlink-li logo-info width-{{ block.id }}">
          <div class="footer-info">
            {% if block.settings.logo_enable %}
            <div class="logo">
              {% render 'company-logo-footer' %}
            </div>
            {% endif %}
            {% if block.settings.heading != '' %}
            <h2 class="ft-title">{{ block.settings.heading }}</h2>
            {% endif %}
            {% if block.settings.text != '' %}
            <div class="rich-text">
              <p>{{ block.settings.text }}</p>
            </div>
            {% endif %}
            {% if block.settings.social_enable %}
            {% render 'social-media' %}
            {% endif %}
          </div>      
          {%- style -%}
          .footer-list-wrap ul.footer-list li.width-{{ block.id }}{
            width: calc({{ block.settings.container_width }}% - 30px);
          }
          {%- endstyle -%}
        </li>
        {%- when 'newsletter' -%}
        <li class="ftlink-li width-{{ block.id }}">
          <div class="news-content">
            {% if block.settings.heading != '' %}
            <h2 class="ft-title">{{ block.settings.heading }}</h2>
            {% endif %}
            {% if block.settings.text != '' %}
            <div class="rich-text">
              <p>{{ block.settings.text }}</p>
            </div>
            {% endif %}
            {% form 'customer' %}
            {{ form.errors | default_errors }}
            {% if form.posted_successfully? %}
            <p class="text-success">
              <span>{{ 'general.newsletter_form.confirmation' | t }}</span>
            </p>
            {% endif %}
            <div class="news-wrap">
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="email" name="contact[email]" class="email mail" id="E-mail" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" autocapitalize="off" required>
              <button class="news-btn" type="submit" name="commit" id="Subscribe">
                {{ 'general.newsletter_form.submit' | t }}
              </button>
            </div>
            {% endform %}
          </div>     
          {%- style -%}
          .footer-list-wrap ul.footer-list li.width-{{ block.id }}{
            width: calc({{ block.settings.container_width }}% - 30px);
          }
          {%- endstyle -%}
        </li>

        {%- when 'footer_menu' -%}
        <li class="ftlink-li link-list width-{{ block.id }}">
          {% assign footer_menu = block.settings.footer_menu_handle %}
          {%- if block.settings.show_nav_title -%}
          <h2 class="ft-title md-d-none">{{ linklists[footer_menu].title }}</h2>
          <a data-bs-toggle="collapse" href="#collapse-{{ linklists[footer_menu].title | handleize }}" class="ft-title">
            <span>{{ linklists[footer_menu].title }}</span>
            <i class="ri-add-fill"></i>
          </a>
          {%- endif -%}
          <ul class="{% if block.settings.show_nav_title %}collapse {% endif %} footer-sublist link" id="{%- if block.settings.show_nav_title -%}collapse-{{ linklists[footer_menu].title | handleize }}{%- endif -%}">
            {% assign footer_menu = block.settings.footer_menu_handle %}
            {% for link in linklists[footer_menu].links %}
            {% if linklists[footer_menu].links != '' %}
            <li class="ftsublink-li">
              <a href="{{ link.url }}" class="ft-sublink">{{ link.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {%- style -%}
          .footer-list-wrap ul.footer-list li.width-{{ block.id }}{
            width: calc({{ block.settings.container_width }}% - 30px);
          }
          {%- endstyle -%}
        </li>
        
        {%- when 'instagram_block' -%}
        <li class="ftlink-li insta-wrap width-{{ block.id }}">
            {% if block.settings.heading != '' %}
            <h2 class="ft-title">{{ block.settings.heading }}</h2>
            {% endif %}
            <div class="insta-block">
              <a class="img-content" href="{{ block.settings.insta_url1 }}">
                {%- if block.settings.insta_img1 -%}
                {{ block.settings.insta_img1 | image_url: width: 200, height: 200, crop: 'center' | image_tag:
                  loading: 'lazy',
                  width: block.settings.insta_img1.width,
                  widths: "200",
                  height: block.settings.insta_img1.height,
                  class: "img-fluid",
                  alt: block.settings.insta_img1.alt | escape }}
                {%- else -%}
                {%- capture placeholder -%}collection-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
              <a class="img-content" href="{{ block.settings.insta_url2 }}">
                {%- if block.settings.insta_img2 -%}
                {{ block.settings.insta_img2 | image_url: width: 200, height: 200, crop: 'center' | image_tag:
                  loading: 'lazy',
                  width: block.settings.insta_img2.width,
                  widths: "200",
                  height: block.settings.insta_img2.height,
                  class: "img-fluid",
                  alt: block.settings.insta_img2.alt | escape }}
                {%- else -%}
                {%- capture placeholder -%}collection-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
              <a class="img-content" href="{{ block.settings.insta_url3 }}">
                {%- if block.settings.insta_img3 -%}
                {{ block.settings.insta_img3 | image_url: width: 200, height: 200, crop: 'center' | image_tag:
                  loading: 'lazy',
                  width: block.settings.insta_img3.width,
                  widths: "200",
                  height: block.settings.insta_img3.height,
                  class: "img-fluid",
                  alt: block.settings.insta_img3.alt | escape }}
                {%- else -%}
                {%- capture placeholder -%}collection-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
              <a class="img-content" href="{{ block.settings.insta_url4 }}">
                {%- if block.settings.insta_img4 -%}
                {{ block.settings.insta_img4 | image_url: width: 200, height: 200, crop: 'center' | image_tag:
                  loading: 'lazy',
                  width: block.settings.insta_img4.width,
                  widths: "200",
                  height: block.settings.insta_img4.height,
                  class: "img-fluid",
                  alt: block.settings.insta_img4.alt | escape }}
                {%- else -%}
                {%- capture placeholder -%}collection-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
              <a class="img-content" href="{{ block.settings.insta_url5 }}">
                {%- if block.settings.insta_img5 -%}
                {{ block.settings.insta_img5 | image_url: width: 200, height: 200, crop: 'center' | image_tag:
                  loading: 'lazy',
                  width: block.settings.insta_img5.width,
                  widths: "200",
                  height: block.settings.insta_img5.height,
                  class: "img-fluid",
                  alt: block.settings.insta_img5.alt | escape }}
                {%- else -%}
                {%- capture placeholder -%}collection-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
              <a class="img-content" href="{{ block.settings.insta_url6 }}">
                {%- if block.settings.insta_img6 -%}
                {{ block.settings.insta_img6 | image_url: width: 200, height: 200, crop: 'center' | image_tag:
                  loading: 'lazy',
                  width: block.settings.insta_img6.width,
                  widths: "200",
                  height: block.settings.insta_img6.height,
                  class: "img-fluid",
                  alt: block.settings.insta_img6.alt | escape }}
                {%- else -%}
                {%- capture placeholder -%}collection-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
            </div>
            {% if block.settings.text != '' %}
            <div class="rich-text">{{ block.settings.text }}</div>
            {% endif %}
          {%- style -%}
          .footer-list-wrap ul.footer-list li.width-{{ block.id }}{
            width: calc({{ block.settings.container_width }}% - 30px);
          }
          {%- endstyle -%}
        </li>
        {%- when 'custom_text' -%}
        <li class="ftlink-li custom-text width-{{ block.id }}">
          {% if block.settings.heading != '' %}
          <h2 class="ft-title">{{ block.settings.heading }}</h2>
          {% endif %}
          {% if block.settings.text != '' %}
          <div class="rich-text">
            <p>{{ block.settings.text1 }}</p>
            <a href="{{ block.settings.url1 }}">{{ block.settings.url_text1 }}</a>
            <p>{{ block.settings.text2 }}</p>
            <a href="{{ block.settings.url2 }}">{{ block.settings.url_text2 }}</a>
          </div>
          {% endif %}
          {%- style -%}
          .footer-list-wrap ul.footer-list li.width-{{ block.id }}{
            width: calc({{ block.settings.container_width }}% - 30px);
          }
          {%- endstyle -%}
        </li>
        {%- when 'payment' -%}
        <li class="ftlink-li payment-block width-{{ block.id }}">
          <div class="pay-icon">
            {% if block.settings.heading != '' %}
            <h2 class="ft-title">{{ block.settings.heading }}</h2>
            {% endif %}
            {% if block.settings.payment_icon_enable %}
            {% render 'payment-icon' %}
            {% endif %}
          </div>
          <div class="app-icon">
            {% if block.settings.heading2 != '' %}
            <h2 class="ft-title">{{ block.settings.heading2 }}</h2>
            {% endif %}
            {% if block.settings.app_icon_enable %}
              <a class="img-content" href="{{ block.settings.app_url1 }}">
                {%- if block.settings.app_img1 -%}
                {{ block.settings.app_img1 | image_url: width: 500 | image_tag:
                  loading: 'lazy',
                  width: block.settings.app_img1.width,
                  height: block.settings.app_img1.height,
                  class: "img-fluid",
                  alt: block.settings.app_img1.alt | escape }}
                {%- else -%}
                {%- capture placeholder -%}collection-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
              <a class="img-content" href="{{ block.settings.app_url2 }}">
                {%- if block.settings.app_img2 -%}
                {{ block.settings.app_img2 | image_url: width: 500 | image_tag:
                  loading: 'lazy',
                  width: block.settings.app_img2.width,
                  height: block.settings.app_img2.height,
                  class: "img-fluid",
                  alt: block.settings.app_img2.alt | escape }}
                {%- else -%}
                {%- capture placeholder -%}collection-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
                {%- endif -%}
              </a>
            {% endif %}
          </div>

          {%- style -%}
          .footer-list-wrap ul.footer-list li.width-{{ block.id }}{
            width: calc({{ block.settings.container_width }}% - 30px);
          }
          {%- endstyle -%}
        </li>

        {%- endcase -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "foot_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "foot_padding_bottom",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "foot_padding_top_ipad",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "foot_padding_bottom_ipad",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "foot_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "foot_padding_bottom_xs",
      "label": "Section Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "header",
      "content": "Footer background"
    },
    {
      "type": "image_picker",
      "id": "footer_bg_img",
      "label": "Image",
      "info": "Recommended Size: 1920 x 770px"
    },
    {
      "type": "checkbox",
      "id": "footer_bg_img_enable",
      "label": "Show Background Image",
      "default": false
    },
    {
      "type": "color",
      "id": "footer_bg_color",
      "label": "Background Color",
      "default": "#FCF8F8"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#f2f0ed"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#222"
    }
  ],
  "blocks": [
    {
      "type": "logo_info",
      "name": "Logo information",
      "settings": [
        {
          "type": "range",
          "id": "container_width",
          "label": "Column width",
          "default": 25,
          "min": 10,
          "max": 100,
          "unit": "%"
        },
        {
          "type": "header",
          "content": "Company logo"
        },
        {
          "type": "checkbox",
          "id": "logo_enable",
          "label": "Show logo",
          "default": true
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Síguenos en Instagram"
        },
        {
          "type": "header",
          "content": "Social media"
        },
        {
          "type": "checkbox",
          "id": "social_enable",
          "label": "Socila icon enable",
          "default": true
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
        {
          "type": "range",
          "id": "container_width",
          "label": "Column width",
          "default": 25,
          "min": 10,
          "max": 100,
          "unit": "%"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Follow us Instagram"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "footer_menu",
      "name": "Navigation",
      "settings": [
        {
          "type": "range",
          "id": "container_width",
          "label": "Column width",
          "default": 25,
          "min": 10,
          "max": 100,
          "unit": "%"
        },
        {
          "type": "checkbox",
          "id": "show_nav_title",
          "label": "Show heading",
          "default": true
        },
        {
          "type": "link_list",
          "id": "footer_menu_handle",
          "label": "Select Menu"
        }
      ]
    },
    {
      "type": "instagram_block",
      "name": "Instagram block",
      "settings": [
        {
          "type": "range",
          "id": "container_width",
          "label": "Column width",
          "default": 25,
          "min": 10,
          "max": 100,
          "unit": "%"
        },
        {
          "type": "header",
          "content": "Instagram"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Follow us Instagram"
        },
        {
          "type": "url",
          "id": "insta_url1",
          "label": "Instagram image url"
        },
        {
          "type": "image_picker",
          "id": "insta_img1",
          "label": "Instagram image",
          "info": "Recommended Size: 250x250px"
        },
        {
          "type": "url",
          "id": "insta_url2",
          "label": "Instagram image url"
        },
        {
          "type": "image_picker",
          "id": "insta_img2",
          "label": "Instagram image",
          "info": "Recommended Size: 250x250px"
        },
        {
          "type": "url",
          "id": "insta_url3",
          "label": "Instagram image url"
        },
        {
          "type": "image_picker",
          "id": "insta_img3",
          "label": "Instagram image",
          "info": "Recommended Size: 250x250px"
        },
        {
          "type": "url",
          "id": "insta_url4",
          "label": "Instagram image url"
        },
        {
          "type": "image_picker",
          "id": "insta_img4",
          "label": "Instagram image",
          "info": "Recommended Size: 250x250px"
        },
        {
          "type": "url",
          "id": "insta_url5",
          "label": "Instagram image url"
        },
        {
          "type": "image_picker",
          "id": "insta_img5",
          "label": "Instagram image",
          "info": "Recommended Size: 250x250px"
        },
        {
          "type": "url",
          "id": "insta_url6",
          "label": "Instagram image url"
        },
        {
          "type": "image_picker",
          "id": "insta_img6",
          "label": "Instagram image",
          "info": "Recommended Size: 250x250px"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "info": "Optional"
        }
      ]
    },
    {
      "type": "custom_text",
      "name": "Custom text",
      "settings": [
        {
          "type": "range",
          "id": "container_width",
          "label": "Column width",
          "default": 25,
          "min": 10,
          "max": 100,
          "unit": "%"
        },
        {
          "type": "header",
          "content": "title"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "CONTÁCTANOS"
        },
        {
          "type": "text",
          "id": "text1",
          "label": "Text",
          "default": "¿Tienes preguntas?"
        },
        {
          "type": "text",
          "id": "url_text1",
          "label": "Text",
          "default": "+1200 345 67 89"
        },
        {
          "type": "text",
          "id": "url1",
          "label": "Url"
        },
        {
          "type": "text",
          "id": "text2",
          "label": "Text",
          "default": "¿Necesitas ayuda?"
        },
        {
          "type": "text",
          "id": "url_text2",
          "label": "Text",
          "default": "+1200 345 67 89"
        },
        {
          "type": "url",
          "id": "url2",
          "label": "url"
        }
      ]
    },
    {
      "type": "payment",
      "name": "Payment icon",
      "settings": [
        {
          "type": "range",
          "id": "container_width",
          "label": "Column width",
          "default": 25,
          "min": 10,
          "max": 100,
          "unit": "%"
        },
        {
          "type": "header",
          "content": "title"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Métodos de pago"
        },
        {
          "type": "checkbox",
          "id": "payment_icon_enable",
          "label": "Heading",
          "default": true
        },
        {
          "type": "text",
          "id": "heading2",
          "label": "Heading",
          "default": "Descargar app"
        },
        {
          "type": "checkbox",
          "id": "app_icon_enable",
          "label": "Apps image enable",
          "default": true
        },
        {
          "type": "url",
          "id": "app_url1",
          "label": "App url"
        },
        {
          "type": "image_picker",
          "id": "app_img1",
          "label": "App image",
          "info": "Recommended Size: 100x30px"
        },
        {
          "type": "url",
          "id": "app_url2",
          "label": "App url"
        },
        {
          "type": "image_picker",
          "id": "app_img2",
          "label": "App image",
          "info": "Recommended Size: 100x30px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Footer"
    }
  ]
}
{% endschema %}
<style>
:root {
  --color-text: {{ section.settings.text_color }};
  --color-heading: {{ section.settings.heading_color }};
}
.footer-area{
  {% if section.settings.footer_bg_img_enable %}
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  {% endif %}
  background-color: {{ section.settings.footer_bg_color }};
}
.footer-area {
  position: relative;
  padding-top: {{ section.settings.foot_padding_top }}px;
  padding-bottom: {{ section.settings.foot_padding_bottom }}px;
}
@media (max-width: 1199px){
  .footer-area {
    padding-top: {{ section.settings.foot_padding_top_ipad }}px;
    padding-bottom: {{ section.settings.foot_padding_bottom_ipad }}px;
  }
}
@media (max-width: 767px){
  .footer-area {
    padding-top: {{ section.settings.foot_padding_top_xs }}px;
    padding-bottom: {{ section.settings.foot_padding_bottom_xs }}px;
  }
}
.footer-list-wrap ul.footer-list{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  {%- if settings.enable_rtl -%}
  margin-right: -30px;
  {%- else -%}
  margin-left: -30px;
  {%- endif -%}
  margin-top: -60px;
}
.footer-list-wrap ul.footer-list li.ftlink-li{
  {%- if settings.enable_rtl -%}
  margin-right: 30px;
  {%- else -%}
  margin-left: 30px;
  {%- endif -%}
  margin-top: 60px;
}
.footer-list-wrap ul.footer-list li.ftlink-li .ft-title{
  color: var(--color-heading);
  font-size: 18px;
  font-weight: 500;
}
.footer-list-wrap ul.footer-list li.ftlink-li a.ft-title{
  display: none;
}
.footer-list-wrap ul.footer-list li.ftlink-li .footer-sublist.collapse:not(.show){
  display: block;
}
.footer-list-wrap ul.footer-list li.ftlink-li .footer-sublist .ftsublink-li {
  margin-top: 22px;
}
.footer-list-wrap ul.footer-list li.ftlink-li .footer-sublist .ftsublink-li:first-child {
  margin-top: 32px;
}
.footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a{
  color: var(--color-text);
}
.footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li a:hover{
  color: var(--font-color-primary);
}

/*social icon*/
.footer-list-wrap .logo-info .logo{
  padding-bottom: 30px;
}
.footer-area ul.social-icon{
  margin-top: 30px;
}
.footer-list-wrap .logo-info.text-center .rich-text {
  margin: 0 auto;
}
.footer-list-wrap .logo-info.text-right .rich-text {
  margin-left: auto;
}
/*payment-block*/
.footer-list-wrap .payment-block .app-icon{
  margin-top: 30px;
}
/*richtext*/
.footer-list-wrap .custom-text .rich-text a,
.footer-list-wrap .custom-text .rich-text p{
  margin-top: 12px;
}
.footer-list-wrap .custom-text .rich-text p:first-child {
  margin-top: 0;
}
.footer-list-wrap .custom-text .rich-text a {
  color: var(--font-color-primary);
  font-weight: 500;
}
.footer-list-wrap .rich-text a,
.footer-list-wrap .rich-text p{
  color: var(--color-text);
}
.footer-list-wrap .rich-text strong:hover,
.footer-list-wrap .rich-text a:hover{
  color: var(--font-color-primary);
}
/* isntagram */
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block{
  display: flex;
  flex-wrap: wrap;
  {%- if settings.enable_rtl -%}
  margin-right: -15px;
  {%- else -%}
  margin-left: -15px;
  {%- endif -%}
  margin-top: -15px;
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a{
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(33.33% - 15px);
  {%- if settings.enable_rtl -%}
  margin-right: 15px;
  {%- else -%}
  margin-left: 15px;
  {%- endif -%}
  margin-top: 15px;
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a img{
  width: 100%;
  border-radius: 0px;
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: visible;
  background-color: rgba(0,0,0,20%);
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:before{
  content: "\ee66";
  color: #fff;
  font-size: 18px;
  line-height: 1;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  font-family: remixicon!important;
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:hover:before{
  opacity: 1;
  visibility: visible;
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:hover:after{
  opacity: 1;
  visibility: visible;
}
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:hover:before,
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:before,
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:after,
.footer-list-wrap ul.footer-list li.ftlink-li.insta-wrap .insta-block a:hover:after{
  -webkit-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

/* newsletter */
.footer-list-wrap .text-left .news-content {
  margin-right: auto;
}
.footer-list-wrap .text-right .news-content {
  margin-left: auto;
}
.footer-list-wrap .text-center .news-content {
  margin: 0 auto;
}
.footer-list-wrap .news-content .rich-text {
  margin-top: 28px;
}
.footer-list-wrap .news-content form{
  width: 100%;
  margin-top: 30px;
}
.footer-list-wrap .news-content .news-wrap {
  position: relative;
}
.footer-list-wrap .news-content .news-wrap input{
  width: 100%;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgb(0 0 0 / 15%);
  border-radius: 25px; 
}
.footer-list-wrap .news-content .news-wrap button{
  color: var(--font-color-primary);
  font-weight: 600;
  position: absolute;
  right: 30px;
  bottom: 50%;
  transform: translateY(50%);
  text-transform: uppercase;
}
.footer-list-wrap .news-content .news-wrap button:hover {
  color: var(--font-color-secondary);
}
@media (max-width: 991px){
  .footer-list-wrap ul.footer-list li.ftlink-li:not(:first-child){
    margin-top: 15px;
  }
  .footer-list-wrap ul.footer-list{
    {% if settings.enable_rtl %}
    margin-right: 0px;
    {% else %}
    margin-left: 0px;
    {% endif %}
    margin-top: 0px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li{
    {% if settings.enable_rtl %}
    margin-right: 0px;
    {% else %}
    margin-left: 0px;
    {% endif %}
    margin-top: 0px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li.logo-info .logo{
    padding-bottom: 15px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li{
    width: 100%;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li a.ft-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(184 159 123 / 20%);
  }
  .footer-list-wrap ul.footer-list li.ftlink-li a.ft-title[aria-expanded="true"] i:before{
    content: "\f1af";
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li{
    margin-top: 12px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li ul.footer-sublist li.ftsublink-li:first-child {
    margin-top: 22px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .footer-sublist.collapse:not(.show){
    display: none;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .ft-title{
    font-size: var(--font-size-body);
  }
  .footer-list-wrap .rich-text p, .footer-list-wrap .rich-text a {
    line-height: 25px;
  }
  .footer-list-wrap ul.footer-list li.ftlink-li .ft-title.md-d-none{
    display: none;
  }
  .footer-list-wrap .news-content{
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-area ul.social-icon {
    margin-top: 15px;
  }
  .footer-list-wrap .payment-block .app-icon {
    margin-top: 15px;
  }
  .footer-list-wrap .news-content .rich-text {
    margin-top: 18px;
  }
  .footer-list-wrap .news-content form{
    margin-top: 15px;
  }
  .footer-list-wrap .custom-text .rich-text p {
    line-height: 30px;
  }
}
</style>